<header class="relative" >
    <nav class="bg-blue-700 text-white p-2 text-xl fixed top-0 left-0 right-0">
        <div class="flex justify-between">
          <a href="/" class="mr-6">
            <!-- <img src="logo.svg" alt="Logo" class="h-8 w-8 mr-2"> -->
            <span class="font-bold font-mono p-2" >Paws&Claws</span>
          </a>
          <ul class="flex">
            <li class="mr-6">
                <a href="/admin/users" class="text-white p-2 hover:text-black font-serif" >User Management</a>
              </li>
            <li class="mr-6">
              <a href="/admin/products" class="text-white p-2 hover:text-black font-serif" >Products</a>
            </li>
            <li class="mr-6">   
              <a href="/admin/categories" class="text-white p-2 hover:text-black">Categories</a>
            </li>
            <li class="mr-6">
              <a href="/admin/orders" class="text-white p-2 hover:text-black">Order Management</a>
            </li>
            <li class="mr-6">
                <a href="/admin/dashboard" class="text-white p-2 hover:text-black">Dashboard</a>
              </li>
          </ul>
        </div>
      </nav>
      
  </header>