<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paws&Claws</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <style>
        body {
            font-family: 'Poppins', sans-serif !important;
            font-weight: 400;
        }

        .modaldesign .modal-content .modal-body .modal-hding {
            font-size: 18px;
            font-weight: 600;
            color: #000;
            padding-bottom: 5px;
            margin: 0;
            padding-top: 50px;
        }

        .modaldesign .modal-content .modal-body .modal-prgh {
            font-size: 14px;
            font-weight: 400;
            color: #999;
            padding-bottom: 10px;
            margin: 0;
        }

        .modaldesign .modal-content .modal-body .modal-prgh>span {
            display: block;
            font-weight: 500;
            color: #e04d16;
        }

        .modaldesign .modal-content .modal-body .modal-prgh>a {
            display: inline-block;
            font-weight: 400;
            color: #ffc901;
            text-decoration: none;
        }

        .modaldesign .btn-close {
            float: right;
            border: none;
            outline: none;
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .3;
            z-index: 9;
        }

        .modaldesign .btn-close:hover {
            opacity: 1;
        }

        .modaldesign .btn-close:focus {
            outline: none;
            box-shadow: none;
        }

        .modaldesign a {
            text-decoration: none;
        }

        .otp-field {
            width: 100%;
            border-radius: 4px;
            padding: 7px;
            text-align: center;
            border: 1px solid #ddd;
            display: inline-flex;
            margin: 0 5px;
        }

        .login-modal-area {
            padding: 30px 40px 20px;
        }

        .login-btn {
            color: #fff;
            border: 1px solid #ffc901;
            outline: none;
            font-weight: 400;
            text-align: center;
            background: #ffc901;
            font-size: 14px;
            padding: 8px 25px;
            border-radius: 4px;
            line-height: 1.714;
            margin-top: 15px;
            margin-bottom: 10px;
            text-decoration: none;
        }

        .login-btn-outline {
            color: #000;
            border: 1px solid #222;
            outline: none;
            font-weight: 400;
            text-align: center;
            background: #fff;
            font-size: 14px;
            padding: 8px 25px;
            border-radius: 4px;
            line-height: 1.714;
            margin-top: 15px;
            margin-bottom: 10px;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
        }

        .login-btn-outline:hover {
            background: #222;
            color: #fff;
            transition: all 0.3s ease-in-out;
        }

        .logintxt {
            font-size: 13px;
            font-weight: 400;
            color: #000;
            display: block;
            text-align: center;
        }
    </style>
</head>

<!-- component -->

<body class="bg-gray-400">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <!-- Image Column -->
            <div class="col-lg-6 d-none d-lg-block bg-cover rounded-lg"
                style="background-image: url('https://source.unsplash.com/oWTW-jNGl9I/600x800');">
            </div>
            <div class="col-lg-6 bg-white p-5 rounded-lg">
                <div class="px-4 mb-4 text-center">
                    <h3 class="pt-4 mb-2">Forgot Your Password?</h3>
                    <p class="mb-4 text-sm text-gray-700">
                        We get it, stuff happens. Just enter your email address below and we'll send you a
                        link to reset your password!
                    </p>
                </div>
                <form class="px-4 pt-6 pb-4 mb-4 bg-white rounded" method="post" action="/forgotpasswordOTP">
                    <div class="mb-4">
                        <input class="form-control form-control-sm" id="email" name="email" type="email"
                            placeholder="Enter Email Address..." required />
                    </div>
                    <div class="mb-4 text-center">
                        <button type="submit" class="btn btn-warning mx-auto d-block mt-5" data-bs-toggle="modal"
                            data-bs-target="#login-otp-modal">Show OTP</button>

                    </div>
                </form>
                <!-- Start Modal -->
                <div class="modal fade modaldesign" id="login-otp-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <form class="login-modal-area" method="post" action="/confirmForgotpasswordOTP">
                                    <div class="row">
                                        <div class="col-sm-6  pt-4">
                                            <h1 class="modal-hding">Please Enter 4 Digit OTP Sent on 980xxxx123 </h1>
                                            <a href="#" class="modal-prgh text-center pb-4"><small>Change Mobile
                                                    Number</small></a>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="images/enter-otp.webp" alt="" class="img-fluid mt-4 px-5 px-md-0">
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="d-flex justify-content-center mt-4">
                                                <input type="text" name="digit1" class="otp-field" maxlength="1">
                                                <input type="text" name="digit2" class="otp-field" maxlength="1">
                                                <input type="text" name="digit3" class="otp-field" maxlength="1">
                                                <input type="text" name="digit4" class="otp-field" maxlength="1">
                                                <input type="text" name="digit5" class="otp-field" maxlength="1">
                                                <input type="text" name="digit6" class="otp-field" maxlength="1">
                                            </div>
                                            <p class="modal-prgh text-center pt-4 pb-4">Don't receive the OTP yet? <a
                                                    href="#">Resend OTP</a></p>
                                            <button type="submit" class="login-btn w-100 mt-2">Confirm OTP</button>
                                            <button type="button" class="login-btn-outline w-100 mt-1">Sign in with
                                                Password</button>
                                            <p class="logintxt">First time user? <a href="javascript:void(0)">Signup</a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-4" />
                <div class="text-center">
                    <a class="text-info" href="../signup">Create an Account!</a>
                </div>
                <div class="text-center">
                    <a class="text-info" href="../login">Already have an account? Login!</a>
                </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>